<div class="login-container">
  <div class="main-oval"></div>
  <div class="split-container">
    <div class="left-section">
      <div class="watermark">
        CASE<br />
        BUILDER<br />
        <span class="highlight">AI</span>
      </div>
      <img
        src="../../assets/photo/login_man.png"
        alt="Login Man"
        class="bg-image"
      />
    </div>
    <div class="right-section">
      <div class="login-form-wrapper">
        <div class="welcome-text">
          <h1>Welcome Back</h1>
        </div>
        <form
          #loginForm="ngForm"
          (ngSubmit)="login(loginForm)"
          novalidate
          class="login-form"
        >
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              name="username"
              placeholder="Enter your username"
              required
              [(ngModel)]="username"
              #usernameCtrl="ngModel"
            />
            <div
              class="error"
              *ngIf="usernameCtrl.touched && usernameCtrl.invalid"
            >
              <small *ngIf="usernameCtrl.errors?.['required']"
                >Username is required.</small
              >
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Enter your password"
              required
              minlength="6"
              [(ngModel)]="password"
              #passCtrl="ngModel"
            />
            <div class="error" *ngIf="passCtrl.touched && passCtrl.invalid">
              <small *ngIf="passCtrl.errors?.['required']"
                >Password is required.</small
              >
              <small *ngIf="passCtrl.errors?.['minlength']"
                >Minimum 6 characters.</small
              >
            </div>
          </div>
          <button type="submit" class="login-button">Login</button>
          <a href="#" class="forgot-password">Forgot Password?</a>
        </form>
      </div>
    </div>
  </div>
</div>
